[submodule "eureka-server"]
	path = eureka-server
	url = https://github.com/alauda-cloud/eureka-server.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/alauda-cloud/config-server.git
[submodule "base-image"]
	path = base-image
	url = https://github.com/alauda-cloud/base-image.git
[submodule "oauth2-server"]
	path = oauth2-server
	url = https://github.com/alauda-cloud/oauth2-server.git
[submodule "alauda-cloud-starter-microservice"]
	path = alauda-cloud-starter-microservice
	url = https://github.com/alauda-cloud/alauda-cloud-starter-microservice.git
[submodule "alauda-cloud-microservice"]
	path = alauda-cloud-microservice
	url = https://github.com/alauda-cloud/alauda-cloud-microservice.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/alauda-cloud/user-service.git
[submodule "todo-service"]
	path = todo-service
	url = https://github.com/alauda-cloud/todo-service.git
[submodule "project-service"]
	path = project-service
	url = https://github.com/alauda-cloud/project-service.git
[submodule "message-service"]
	path = message-service
	url = https://github.com/alauda-cloud/message-service.git
